<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Add New Room/s</title>
</head>

<body>

	<div class="container">
		<br>
		<h3>Room Details</h3>
		<hr>
		
		<p class="h4 mb-4">Save New Room</p>
	
		<form th:action="@{/admin/saveRoom}"
			  th:object="${room}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<small class="form-text text-muted">Room Number:</small>
			<input type="text" th:field="*{number}"
					class="form-control mb-4 col-4" placeholder="Room Number" disabled>
					
			<input type="hidden" th:field="*{number}"
					class="form-control mb-4 col-4" placeholder="Room Number">					
					
			<small class="form-text text-muted">Room Type: <br \> *Default Type starts at Standard</small>
			<select th:field="*{type}" class="form-select form-control mb-4 col-4">
			    <option selected th:value="'Status Meeting Room'" th:text="'Status Meeting Room'"></option>
			    <option th:value="'Information Sharing Room'" th:text="'Information Sharing Room'"></option>
			    <option th:value="'Decision Making Room'" th:text="'Decision Making Room'"></option>
			    <option th:value="'Problem Solving Room'" th:text="'Problem Solving Room'"></option>
			    <option th:value="'Innovation Room'" th:text="'Innovation Room'"></option>
			    <option th:value="'Team Building Room'" th:text="'Team Building Room'"></option>
			</select>
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/admin/room}">Back to Room List</a>
		
	</div>
</body>

</html>










